# Neutron GUI default theme file

# HSRAW is raw image data with hotspot information
# Header is four bytes: X size, Y size, X hotspot, Y hotspot
# Then raw pixel data in the RGBA format
cur.normal=/initrd/normal.hsraw
cur.drag=/initrd/drag.hsraw

panel.margins=5
panel.height=32
panel.color=200,16,16,16
panel.bar_height=16
panel.movement_time=50
panel.hold_time=1000
panel.icon=/initrd/icon.raw

desktop.color=255,0,0,0

global.main_font=/initrd/noto-sans-semi-10.vlw